.container
  h1.title 
    a(href="/") 土方いとのホームページ
    
  .navbar
    .navbar-tabs
      a.navbar-item(href="//twitter.com/hijikataito") ツイッター
      a.navbar-item(href="//github.com/hijikataito") ギットハブ