.container
  h1.title 
    a(href="/") hijikataito.com
    a.src(href="https://github.com/hijikataito/hijikataito.github.io") （ソースコード）

  .navbar
    .navbar-tabs
      a.navbar-item(href="//twitter.com/hijikataito") ツイッター
      a.navbar-item(href="//github.com/hijikataito") ギットハブ